body {
    background-color: #201434;
    font-family: Minecraft;
}

.wholeUserPage {
    font-size: large;
    width: 100%;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: space-around;
}

.userIcon {
    text-align: end;
    padding: 40px 40px 10px 0px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.modifyAcc,
.ordersList,
.subscribe,
.wishlist img,
.exit img {
    background-color: rgba(137, 43, 226, 0.233);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.446);
    margin: 10px;
    margin-bottom: 60px;
}

.modifyAcc p,
.modifyAcc span,
.ordersList p,
.subscribe p {
    padding: 10px;
}

.modifyAcc p {
    font-size: smaller;
    text-align: center;
}

.leftUserPart,
.newsletter {
    width: 500px;
}

.modifyAcc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modifyAcc div {
    display: flex;
    justify-content: space-between;
}

.inputUserPage {
    background: none;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.506);
    border-radius: 20px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.515);
    color: white;
}

.subscribe button {
    transform: translateY(-20px);
    padding: 10px 20px 10px 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.506);
    border-radius: 20px;
    font-size: large;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.515);
    background-color: crimson;
}