.container_catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #201434;
    width: 100%;
    height: 100%;
}

.container_filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 70px;
    color: white;
    gap: 50px;

}

.filter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sistemi,
#generi,
#ordina,
#prezzi {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: rgba(243, 17, 106, 255);
    color: rgba(243, 17, 106, 255);
    background-color: #cf00d300;
    border: 1px solid white;
    cursor: pointer;
    outline: 0;
    font-size: 18px;
    text-align: center;
}

#sistemi:hover,
#sistemi:focus {
    color: rgba(243, 17, 106, 255);
    border: 4px solid rgba(243, 17, 106, 255);
}

#generi:hover,
#generi:focus {
    color: rgba(243, 17, 106, 255);
    border: 4px solid rgba(243, 17, 106, 255);
}


#ordina:hover,
#ordina:focus {
    color: rgba(243, 17, 106, 255);
    border: 4px solid rgba(243, 17, 106, 255);
}

#prezzi:hover,
#prezzi:focus {
    color: rgba(243, 17, 106, 255);
    border: 4px solid rgba(243, 17, 106, 255);
}

label[for='sistemi'] {
    font-size: 20px;
}

label[for='generi'] {
    font-size: 20px;
}

label[for='ordina'] {
    font-size: 20px;
}

label[for='prezzi'] {
    font-size: 20px;
}

/*games*/

.container_game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 50px;
    width: 90%;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    cursor: pointer;
    
}

.discount {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.discount {
    --r: .4em;
    /* control the ribbon shape (the radius) */
    --c: red;

    position: absolute;
    top: 10px;
    left: calc(-1*var(--r));
    line-height: 1.4;
    padding: 0 .5em calc(2*var(--r));
    border-radius: var(--r) 0 0 var(--r);
    background:
        radial-gradient(100% 50% at left, var(--c) 98%, #0000 101%) 100% 0/.5lh calc(100% - 2*var(--r)),
        radial-gradient(100% 50% at right, #0005 98%, #0000 101%) 0 100%/var(--r) calc(2*var(--r)),
        conic-gradient(from 90deg at var(--r) calc(100% - 2*var(--r)), #0000 25%, var(--c) 0) 0 0/calc(101% - .5lh) 100%;
    background-repeat: no-repeat;
}

.container_img {
    width: 100%;
    height: 100%;
    position: relative;
}

.container_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.container_img:hover {
    transform: scale(1.05);
}


.container_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.container_description h4,
p {
    font-size: 13px;
}

.container_btn {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    gap: 20px;
}

.mostraAltro {
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: rgba(243, 17, 106, 255);
    height: 40px;
    width: 150px;
    border-radius: 15px;
    outline: none;

}

.mostraAltro:hover {
    background-color: #FFFFFF00;
    color: rgba(243, 17, 106, 255);
    border: 1px solid #c2440a00;
}

