
.wishlistBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 86vh;
    background-color: #201434;
    
}

.wishlistBackground p {
    font-size: 20px;
}

.wishlistContainer {
    background-color: #4f16cbb3;
    border-radius: 20px;
    padding: 10px 50px;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(340deg 100% 32%);
    border-radius: 30px;
}

.favContainer {
    background-color: rgba(221, 211, 243, 0.7);
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.474);
    backdrop-filter: blur(2px);
    border-radius: 50px; 
    padding: 10px 70px 10px 20px;*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.632);

}

.favContainer img {
    border-radius: 30px;
    filter: saturate(0%);
    padding: 10px;
}


.upperWishlist {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 40px;
}

.upperWishlist h1 {
    font-size: 40px;
    color:   hsl(339, 100%, 40%) ;
    font-family: 'minecraft';
    letter-spacing: 5px;
    word-spacing: 15px;
    text-shadow: 2px 2px 0px white
}

.favProdName,
.favProdPrice,
.favProdStatus {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
    gap: 20px;
   color:   hsl(339, 100%, 50%) ;
}

.prodDetails,
.favProdStatus {
    font-size: large;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 2px 8px hsl(340, 100%, 39%);

}

.addRemoveBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addRemoveBtns button {
    width: 120%;
    cursor: pointer;
    color: white;
    padding: 15px 10px;
    border-radius: 50px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.62);
    border: none;
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.244);
    background: linear-gradient(to bottom,
            hsl(340, 33%, 47%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(339, 100%, 50%) 100%);

}
/* 
.addRemoveBtns button:hover {
    color: hsl(340deg 100% 32%);
    font-weight: 900;
    background: white;
    text-shadow: 1px 1px 1px rosybrown;
    border: 2px solid hsl(340deg 100% 32%);
    width: 130%;
    transition: 0.4s ease-in-out;
} */

.removeFromWishlistBtn:hover {
    background: red;
    color: white;
    border: 3px solid white;
    width: 130%;
    transition: 0.4s ease-in-out;
    font-size: 16px;
}
.addToCartBtn:hover{
    background: green;
    color: white;
    border: 3px solid white;
    width: 130%;
    transition: 0.4s ease-in-out;
    font-size: 16px;
}

.emptyWishlist{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 50px;
text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.689);
}



@media screen and (max-width: 800px) {
    .favContainer {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-left: 5%;
    }


}

@media screen and (max-width: 650px) {

    .favContainer {
        width: 90%;
        height: 360px;
        display: flex;
        justify-content: center;
        margin-left: 5%;
        gap: 10px 50px;
        flex-wrap: wrap;
        padding: 10px 10px 10px 10px;
    }

    .wishlistBackgroundImg {
        width: 140%;
        max-width: fit-content;
        object-fit: cover;
    }

    .upperWishlist h1 {
        font-size: 30px;
        text-align: center;
    }

    .addRemoveBtns button {
        width: 100%;
    }
    .removeFromWishlistBtn:hover {
        width: 100%;
        font-size: 14px;
    }
    .addToCartBtn:hover{
        width: 100%;
        font-size: 14px;
    }

}