.container {
    background-image: url('src/assets/valentinaLiAssets/home/bestseller_bc.jpg');
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 53px));

}

.container h2 {
    font-size: 28px;
    width: 560px;
    margin-bottom: 30px;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
}

.card {
    width: 310px;
    height: 180px;
    margin-bottom: 10px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.card img:hover {
    transform: scale(1.05);
}

.description {
    color: white;
    display: flex;
    justify-content: space-between;
}

.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --r: .4em; /* control the ribbon shape (the radius) */
    --c: red;
  
    position: absolute;
    top: 20px;
    left: calc(-1*var(--r));
    line-height: 1.5; 
    padding: 0 .5em calc(2*var(--r));
    border-radius: var(--r) 0 0 var(--r);
    background: 
      radial-gradient(100% 50% at left,var(--c) 98%,#0000 101%)
       100% 0/.5lh calc(100% - 2*var(--r)),
      radial-gradient(100% 50% at right,#0005 98%,#0000 101%) 
       0 100%/var(--r) calc(2*var(--r)),
      conic-gradient(from 90deg at var(--r) calc(100% - 2*var(--r)),#0000 25%,var(--c) 0)
       0 0/calc(101% - .5lh) 100%;
    background-repeat: no-repeat;   
  }