.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #201434;
}

.container h2 {
    margin-bottom: 30px;
}

/*SCROLLER*/

.scroller {
    max-width: 1700px;
    overflow: hidden;
    display: flex;
    height: 200px;
    align-items: center;
    gap: 30px;
    position: relative;
}

.scroller_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    animation: 20s slide infinite linear;
    gap: 30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroller:hover .scroller_inner {
    animation-play-state: paused;
}

.scroller::before,
.scroller::after {
    background: linear-gradient(to right, rgb(32, 20, 52) 50%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 300px;
    z-index: 2;
}

.scroller::before {
    left: 0;
    top: 0;
}

.scroller::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*CARD*/

.card {
    width: 300px;
}

.game_discount {
    width: 300px;
    position: relative;
    text-align: center;
    font-size: 28px;
}

.game_discount img {
    width: 100%;
    border-radius: 15px;
}

.discount {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.discount {
    --r: .4em;
    /* control the ribbon shape (the radius) */
    --c: red;

    position: absolute;
    top: 10px;
    left: calc(-1*var(--r));
    line-height: 1.4;
    padding: 0 .5em calc(2*var(--r));
    border-radius: var(--r) 0 0 var(--r);
    background:
        radial-gradient(100% 50% at left, var(--c) 98%, #0000 101%) 100% 0/.5lh calc(100% - 2*var(--r)),
        radial-gradient(100% 50% at right, #0005 98%, #0000 101%) 0 100%/var(--r) calc(2*var(--r)),
        conic-gradient(from 90deg at var(--r) calc(100% - 2*var(--r)), #0000 25%, var(--c) 0) 0 0/calc(101% - .5lh) 100%;
    background-repeat: no-repeat;
}



/* .discount {
    background-color: red;
    border-radius: 15px 5px;
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 30px;
    left: 0px;
} */

.name_price {
    display: flex;
    justify-content: space-between;
}