.scrollUp {
    display: flex;
    justify-content: end;
    margin-right: 60px;
}

.torna_su {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(243, 17, 106, 255);
    background-color: rgba(243, 17, 106, 255);
    color: white;
    margin-bottom: 10px;
}

.torna_su:hover {
    transform: scale(1.1);
}